div.mermaid {
    position: relative;
}
div.mermaid svg {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 100% !important;
    width: 100%;
    height: 100%;
}
span.edgeLabel, .edgeLabel rect {
    background: none !important;
    backdrop-filter: blur(10px);
    fill: none !important;
}